:root {
  --landing-bg-color: #fff;
  --link-color: #1a0dab;
  --form-bg-color: #fff;
  --text-color: #000;
  --error-text-color: red;
  --form-text-color: #000;
}

.App {
  text-align: center;
}

.App-header,
.landing-container {
  background-color: var(--landing-bg-color);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  padding: 20px; 
}


.App-link {
  color: var(--link-color);
}

.tableHeader, .MuiTableCell-root.tableHeader {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.App-header h1,
.App-header h2,
.App-header h3 {
  margin: 0 1rem 3rem;
}

.App-header img {
  width: 80%;
  margin-top: 1rem;
}

.landing-form {
  background-color: var(--form-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 300px;
  margin: 20px auto;
  color: var(--form-text-color);
}

.ErrorText {
  color: var(--error-text-color);
  margin: 5px 0;
}
